PORT=8080
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sql_class_2_db
JWT_SECRET=your_super_secret_key_here

# When in production or using Render PostgreSQL, provide this instead of the individual DB_ variables:
# DATABASE_URL=postgres://user:password@host:port/database
# NODE_ENV=production
